.wrapper {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.wrapper form {
  max-width: 300px;
  /* border: 1px solid black; */
}

.wrapper form a {
  display: block;
}

.wrapper form input,
.wrapper form a,
.wrapper form button {
  margin-bottom: 8px;
}

.wrapper form input {
  width: calc(100% - 8px * 2 - 1px * 2);
  border: 1px solid var(--site-color);
  padding: 8px;
  border-radius: 4px;
}

.wrapper form button {
  width: 100%;
  border: 1px solid var(--site-color);
  padding: 8px;
  background-color: var(--site-color);
  color: white;
  border-radius: 4px;
}

.wrapper form button:hover {
  color: var(--site-color);
  background-color: white;
}
