.wrapper {
  padding-bottom: 1em;
}

.items__ul {
  margin: 0;
  padding: 0;
  padding-bottom: 1em;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
}

.items__li {
  list-style: none;
  position: relative;
}

.items__mini_icons {
  display: flex;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 2;
  text-shadow: white 1px 1px 8px;
}

.items__mini_icon--ozon {
  background: linear-gradient(to right, #fc0a5c, #005cfe);
  color: white;
  padding: 4px;
  border-radius: 8px;
  opacity: 0.8;
  text-shadow: none;
}

.items__a {
  position: relative;
  width: 220px;
  display: block;
  flex-wrap: wrap;
  border: 1px solid var(--site-color);
  margin: 8px;
  padding: 8px;
  border-radius: 8px;
  height: calc(100% - 8px * 2 - 8px * 2 - 1px * 2);
}

.items__icon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 8px;
  top: 0;
  left: 0;
  background-color: rgba(0, 102, 204, 0.2);
  margin: 6px;
  border-radius: 50%;
}

.items__icon svg {
  height: 16px;
  color: #5f6368;
}

.items__icon img {
  max-width: 72px;
  max-height: 72px;
}

.items__img_b {
  width: 100%;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.items__img_b svg {
  height: 160px;
  color: #5f6368;
}

.items__img {
  max-width: 220px;
  max-height: 220px;
}

.items__img_circles {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
}

.items__img_circle {
  width: 4px;
  height: 4px;
  background-color: var(--site-color);
  display: block;
  border-radius: 50%;
  margin: 0 2px;
}

.items__urlSegment {
  text-align: center;
  color: lightgray;
  font-weight: bold;
  overflow: hidden;
}

.items__text {
  width: 100%;
  text-align: center;
  color: #2b2b2b;
}

.items__count {
  width: 100%;
  text-align: right;
  color: lightgray;
}

.ozon__ul {
  margin: 0;
  padding: 0;
}

.ozon__li {
  list-style: none;
}

.ozon__a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #005cfe, #fc0a5c);
  color: white;
  border: 1px solid white;
  padding: 8px;
  border-radius: 8px;
  margin: 4px 0;
  border: 1px solid white;
  height: 24px;
  transition: all ease 0.5s;
}

.ozon__a:hover {
  background: linear-gradient(to right, #fc0a5c, #005cfe);
  font-size: 1.2em;
}

.flex__wrapper {
  display: flex;
  height: calc(100% - 64px - 1px);
  flex-direction: column;
}

.flex__content {
  width: 100%;
  flex: 1 0 auto;
}

.flex__footer {
  width: 100%;
  flex: 0 0 auto;
}

.basket__wrapper {
  text-align: center;
  padding: 1em 0;
}

.basket__button {
  all: unset;
  display: block;
  background-color: var(--site-color);
  width: calc(100% - 16px * 2 - 2px * 2);
  color: white;
  padding: 12px 16px;
  border: 1px solid var(--site-color);
  border-radius: 8px;
}

.basket__button:hover {
  background-color: transparent;
  color: var(--site-color);
}

.slider__wrapper {
  width: calc(100% - 2px * 2);
  height: calc(min(50vh, 50vw) + 16px);
  position: relative;
  border: 2px solid var(--site-color);
  border-radius: 8px;
  margin-bottom: 1em;
}

.slider__arrow_left,
.slider__arrow_right {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__arrow_left {
  left: 1em;
}

.slider__arrow_right {
  right: 1em;
}

.slider__arrow_icon {
  width: 32px;
  height: 32px;
  background-color: var(--site-color);
  border: 1px solid var(--site-color);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.slider__arrow_icon:hover {
  background-color: transparent;
  color: var(--site-color);
}

.slider__circles {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
}

.slider__circle {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  border: 1px solid var(--site-color);
  margin: 0 2px;
}

.slider__circle--selected {
  background-color: var(--site-color);
}

.slider__image_b {
  width: 100%;
  height: min(50vh, 50vw);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider__image {
  max-width: min(50vh, 50vw);
  max-height: min(50vh, 50vw);
}

.list_keys__ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.list_keys__li {
  list-style-type: none;
  border: 1px solid lightgray;
  margin: 4px;
  border-radius: 8px;
  padding: 4px;
}

.list_keys__li:hover {
  border-color: var(--site-color);
}

.list_keys__li:first-child {
  margin-left: 0;
}

.list_keys__li:last-child {
  margin-right: 0;
}

.characteristics_table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin: 1em 0;
}

.characteristics_table tr td:first-child {
  width: 200px;
}

.characteristics_table tr td {
  border: 1px solid var(--site-color);
  padding: 8px;
}

.characteristics_table button {
  display: block;
  width: 100%;
  border: 1px solid var(--site-color);
  padding: 8px;
  margin: 8px 0;
  background-color: var(--site-color);
  color: white;
  border-radius: 8px;
}

.characteristics_table button:hover {
  background-color: transparent;
  color: var(--site-color);
}

.characteristics_table span {
  border: 1px solid var(--site-color);
  padding: 4px;
  margin: 4px;
  border-radius: 8px;
}

.characteristics_table ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.characteristics_table ul li {
  list-style-type: none;
  border: 1px solid var(--site-color);
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
}

.details summary {
  color: lightgray;
}

.details[open] summary {
  color: var(--site-color);
}

.barcodes__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.barcodes__li {
  max-width: 200px;
  border: 1px solid var(--site-color);
  padding: 16px;
  margin: 8px;
  list-style-type: none;
  border-radius: 8px;
}

.barcodes__li--Libre-Barcode-128-Text {
  font-family: 'Libre Barcode 128 Text', system-ui;
  font-size: 48px;
}

.barcodes__li--Libre-Barcode-EAN13-Text {
  font-family: 'Libre Barcode EAN13 Text';
  font-size: 100px;
}

.youtube__ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.youtube__li {
  text-align: center;
  width: calc(100% - 8px * 2 - 2px * 2);
  list-style-type: none;
  border: 2px solid var(--site-color);
  border-radius: 8px;
  margin: 8px 0;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.youtube__li iframe {
  border: none;
  height: 100%;
  width: 100%;
}
