/* scroll images */

.img_scroll_block {
  margin: 0;
  padding: 0 0 8px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  overflow-x: auto;
}

.img_scroll_block li {
  list-style-type: none;
  border: 1px solid var(--site-color);
  margin: 8px;
  padding: 2px;
  border-radius: 4px;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_scroll_block li:hover {
  background-color: var(--site-color);
}

/* end scroll images */

.item__image {
  text-align: center;
  margin-bottom: 16px;
}

@media (max-width: 640px) {
  .item__image img {
    width: 100% !important;
    height: auto;
  }
}

@media (min-width: 641px) {
  .item__image img {
    height: auto;
    width: auto;
  }
}

.item__table {
  margin-bottom: 16px;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 16px;
}

.item__table td:first-child {
  font-weight: bolder;
}

.item__table td {
  border: 1px solid black;
  padding: 4px;
}

.counter_block {
  text-align: center;
  margin: 8px 0;
}

.counter_block button {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid var(--site-color);
  background-color: var(--site-color);
  color: white;
  margin: 0 8px;
  font-weight: bold;
}

.counter_block input {
  margin: 0 8px;
  font-weight: bold;
  color: black;
  width: 80px;
  text-align: center;
}

.counter_block::after {
  display: block;
  text-align: center;
  content: 'шт.';
  width: 100%;
}

.counter_bottom_button {
  margin: 24px 0;
  text-align: center;
}

.yt__ul {
  margin: 8px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 0;
}

.yt__ul li {
  list-style: none;
  margin: 8px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
}
