.posts {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.posts li {
  list-style-type: none;
  width: 300px;
  margin: 16px;
}

.posts li a {
  border: 1px solid var(--site-color);
  border-radius: 8px;
  display: block;
  height: calc(100% - 2 * 8px);
  padding: 8px;
}

.posts li a:hover {
  background-color: silver;
}

.posts li a .post__image_block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.posts li a .post__image_block {
  height: 160px;
  padding: 4px;
  border: 1px solid lightgrey;
}

.posts li a:hover .post__image_block {
  border: 1px solid white;
}

.post__image_block svg {
  max-width: 120px;
  max-height: 120px;
  color: lightgrey;
}

.post__image_block img {
  width: auto;
  height: auto;
  max-width: 160px;
  max-height: 160px;
}

.posts li a:hover .post__image_block svg {
  color: #fafafa;
}

.post__image_block img {
  width: 100%;
  height: 100% !important;
}

.post__model {
  color: black;
  text-align: center;
  font-weight: bolder;
}

.post__title {
  color: black;
  text-align: center;
}

.posts li a:hover .post__costNoNds {
  color: black;
}

.post__costNoNds {
  color: lightgray;
  text-align: right;
  /* font-weight: bolder; */
}

.post__costNds {
  color: black;
  text-align: right;
  /* font-weight: bolder; */
}

.post__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.post__content {
  width: 100%;
  flex: 1 0 auto;
}

.post__footer {
  width: 100%;
  flex: 0 0 auto;
}

/* table */

.item__table {
  margin-bottom: 16px;
  border-collapse: collapse;
  margin: 0 auto;
  margin-bottom: 16px;
}

.item__table td:first-child {
  font-weight: bolder;
}

.item__table td {
  border: 1px solid black;
  padding: 4px;
}
/* end table*/
