.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 16px;
}

.table thead tr td {
  text-align: center;
}

.table tr td {
  border: 1px solid black;
  padding: 4px;
}

.table_image_td {
  width: 60px;
  text-align: center;
  height: 60px;
}

.table_count_td {
  width: 60px;
  text-align: right;
}

.table_openOnSite_td {
  width: 60px;
  text-align: center;
}

.table_openOnSite_td a {
  border: 1px solid var(--site-color);
  background-color: var(--site-color);
  color: white;
  margin: 2px;
  padding: 4px;
  border-radius: 8px;
  display: block;
}

.table_openOnSite_td a:hover {
  background-color: transparent;
  color: var(--site-color);
}

.table_openOnSite_td a[custom-is-ozon='1'] {
  background: linear-gradient(to right, #005cfe, #fc0a5c);
  color: white;
  border: 1px solid white;
}

.table_openOnSite_td a[custom-is-ozon='1']:hover {
  border: 1px solid var(--site-color);
  background: transparent;
  color: var(--site-color);
}

.table_image {
  max-width: 60px;
  max-height: 60px;
}
