.app__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

@media (min-width: 801px) {
  .app__wrapper {
    scrollbar-width: var(--scrollbarWidth);
    scrollbar-color: var(--scrollbarThumbColor) var(--scrollbarBgColor);
  }

  .app__wrapper::-webkit-scrollbar {
    width: var(--scrollbarWidth);
  }

  .app__wrapper::-webkit-scrollbar-track {
    background: var(--scrollbarBgColor);
    border-radius: var(--scrollbarBorderRadius);
  }

  .app__wrapper::-webkit-scrollbar-thumb {
    background-color: var(--scrollbarThumbColor);
    border-radius: var(--scrollbarBorderRadius);
    border: var(--scrollbarBorder);
  }
}

.app__content {
  width: 100%;
  flex: 1 0 auto;
}

.app__footer {
  width: 100%;
  flex: 0 0 auto;
}
