.footer__wrapper {
  background-color: #212529;
  color: white;
}

.footer__a {
  width: calc(100% - 8px * 2 - 1px * 2);
  display: block;
  background-color: var(--site-color);
  color: white;
  padding: 8px;
  margin: 8px 0;
  border-radius: 8px;
  text-align: center;
  border: 1px solid var(--site-color);
}

.footer__a:hover {
  background-color: transparent;
  color: color;
}

.footer__blocks {
  margin: 0 5%;
  padding: 8px 0;
  width: calc(100% - 5% * 2);
}

@media screen and (width > 1024px) {
  .footer__blocks {
    display: flex;
    margin: 0 auto;
    max-width: 1024px;
  }

  .footer__left_b {
    width: 300px;
  }

  .footer__right_b {
    width: calc(100% - 300px);
    padding-left: 8px;
  }
}
